@font-face {
    font-family: Konk;
    src: url(./assets/Konk.ttf);
}

*{
    font-family: Konk;
}

.game{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 50px 0;
}

.board{
    display: grid;
    width: 500px;
    height: 500px;
    background-color: black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.cell{
    background-color: white;
    display: grid;
    place-items: center;
    font-size: 5rem;
}

.cell:hover{
    background-color: gray;
}

.restart-button{
    display: none;
}

.restart-button-revealed{
    display: block;
    margin: 0 auto;
}

.player{
    padding: 10px;
    font-size: 3rem;
}

.turn{
    background-color: lightblue;
}

.winner{
    text-align: center;
    font-size: 3rem;
}